.dashboard, .main {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 7px;
}

.main {
  margin-top: 7%;
}

.valide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.valide button {
  margin-left: 2%;
  margin-right: 2%;
}
.ok:hover {
  border: 1px solid darkblue;
}
.annuler:hover {
  border: 1px solid darkred;
}
.help:hover {
  border: 1px solid darkgreen;
}
