@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    /* overflow: hidden; */
}
button {
    padding: 5px;
}
.landing {
    margin-left: -13.9%;
    margin-right: -13.9%;
}
.header {
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: src("/images/leaves-g36dc48d95_1920.jpg"); */
    background-image: url("https://cdn.pixabay.com/photo/2020/12/14/10/40/leaves-5830590_960_720.jpg");
    /* background-color: rgb(8, 8, 43); */
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .content {
    display: grid;
}
.header .content h3 {
    font-size: 30px;
}
.header .content p{
    display: flex;
    justify-content: center;
}
.header .content img {
    margin: 10px;
    width: 800px;
    display: flex;    
}
.header .content a {    
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
    /* background-color: gray; */
    border-radius: 5px;    
    margin-top: 20px;
}

.main {
    /* background-color: white; */
    color: white;
    display: block;
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
}
.main .about {
    display: block;
}
.main .about .container {
    display: grid;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;    
}
.one h3, .three h3, .two h3 {
    margin: 10px;
}
.one img, .three img, .two img{
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
.two {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.one p {
    text-align: left;
}
.two p {
    text-align: right;
}
.three p {
    text-align: left;
}
.text {
    /* border: 1px solid red; */
    max-width: 400px;
}
.available {
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.available .title-landing {
    /* color: white; */
    color: white;
    margin: 10px;
    max-width: 400px;
}
.available img {
    margin-left: 20px;
    max-width: 500px;
}
hr {
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.15;
    margin-left: 10%;
    margin-right: 10%;
}
h3 {
    display: flex;
    justify-content: center;
}
.footer {
    /* margin: 10px; */
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: rgb(247, 242, 242); */
    margin-left: 10px;
    margin-right: 10px;
}
.team {
    color: black;
    display: grid;
    justify-content: center;
}
.team h3 {
    color: white;
    display: flex;
    justify-content: center;
}
.footer .team {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer .team h3 {
    margin-bottom: 20px;
}
.footer .team .images img {
    /* position: relative; */
    max-width: 100px;
    margin: 10px;
}
.footer .team .images {
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: space-around;
    display: flex;
}
.item img {
    display: flex;
    justify-content: center;
}
.item p {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.get {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.get a {    
    color: white;
}

@media only screen and (max-width: 800px){
    .header .content h3 {
        font-size: 20px;
    }
    .header .content p {
        font-size: 14px;
    }
    .header .content img {
        max-width: 760px;
    }
    .header .content a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 750px){
    .body {
        /* background-color: red; */
    }
    .header .content img {
        max-width: 660px;
    }
    .one , .two, .three {
        display: block;
    }
    .one p {
        text-align: center;
    }
    .two p {
        text-align: center;
    }
    .three p {
        text-align: center;
    }
    .footer .team .images {
        display: flex;
    }
    .footer .team .images img {
        width: 70%;
    }
    .available {
        display: grid;
    }
}

@media only screen and (max-width: 750px){
    .header .content img {
        max-width: 500px;
    }
    .one img, .three img, .two img {
        max-width: 400px;
    }
}
@media only screen and (max-width: 550px){    
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    .header .content h3 {
        font-size: 16px;
    }
    .header .content p {
        font-size: 12px;
    }
    .header .content img {
        max-width: 400px;
    }
    .one img, .three img, .two img {
        max-width: 300px;
    }
    .available img {
        max-width: 300px;
    }
    .footer .team .images {
        display: grid;
    }
}
@media only screen and (max-width: 350px){    
    .header .content img {
        max-width: 300px;
    }
    .one img, .three img, .two img {
        max-width: 250px;
    }
    p {
        max-width: 300px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 250px){    
    .header .content img {
        max-width: 200px;
    }
    .one img, .three img, .two img {
        max-width: 170px;
    }
    .available img {
        max-width: 200px;
    }
    p {
        max-width: 200px;
    }
}