
.acc {
    text-decoration: none;
    color: black;    
}

.wx-default {
    display: flex;
    resize: both;    
    width: 100%;
    height: 100%;
    margin: 10px;
    /* overflow: auto; */
}

.ap-sup {
    display: flex;
    justify-content: right; 
    margin: 10px;
}
.ap {
    color: green;
}