
.acc {
    text-decoration: none;
    color: black;    
}

.wx-default {
    display: flex;
    resize: both;    
    width: 100%;
    height: 100%;
    margin: 10px;
    /* overflow: auto; */
}

.ap-sup {
    display: flex;
    justify-content: right; 
    margin: 10px;
}
.ap {
    color: green;
}
.sup {
    color: red;
}

.Gantt-module_layout__3I6ye {
    /* position: absolute; */
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    /* min-height: 100vh; */
    border: 1Px solid red;
}