/* .register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
} */


/* ---------------------------------- */


.form h1 {
  margin-bottom: 30px;
}
.inputs {
  margin: 10px;
  margin-bottom: 10px;
}
.inputs input {
  margin-bottom: 10px;
}
.inputs label {
  margin-bottom: 5px;
}
.con, .con-google {
  background-color:#eb7371;  
  /* background-color: #7688CF; */
  margin: 10px;
  display: flex;
  justify-content: center;
}
.con:hover, .con-google:hover {
  padding: 1%;
}